@model EntityLayer.Concrete.Post
@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="wrapper">

    <div class="content-wrapper">
        <!-- Main content -->
        @using (Html.BeginForm("EditPost", "AdminPost", FormMethod.Post))
        {
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Post Düzenleme Sayfası</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.Label("Post ID")
                                    @Html.TextBoxFor(x => x.PostID, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Post Başlığı")
                                    @Html.TextBoxFor(x => x.PostHead, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PostHead, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Post İçeriği")
                                    @Html.TextBoxFor(x => x.PostContent, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PostContent, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Post Resim")
                                    @Html.TextBoxFor(x => x.PostImage, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PostImage, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Post Tarih")
                                    @Html.TextBoxFor(x => x.PostDate, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Yazar ID")
                                    @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Kategori Seçiniz")
                                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="btn btn-secondary">Cancel</a>
                        <button class="btn btn-outline-primary">Kaydet</button>
                    </div>
                </div>
            </section>
        }
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>